What datapoints are we going to collect about a country?
- Country
- Continent the country belongs to
- Capital
- Currency
- Land Area
- Population
- Independence Day

These are primary things we are interested in.

In [1]:
import requests
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup as bs

Let us first get the data of country and the capital

In [2]:
url = 'https://en.wikipedia.org/wiki/List_of_countries_and_dependencies_and_their_capitals_in_native_languages'

In [3]:
dfs = pd.read_html(url, encoding='utf-8')

dfs: 1-25 are useful

In [19]:
dfs = dfs[1:26]

In [21]:
main_df = pd.concat(dfs, join='inner', ignore_index=True)

In [22]:
main_df

,Country (exonym),Capital (exonym),Country (endonym),Capital (endonym),Official or native language(s) (alphabet/script)
0,Afghanistan,Kabul,Afghanestanافغانستان,Kabulكابل,Pashto/Dari(Arabic script)
1,Albania,Tirana,Shqipëria,Tirana,Albanian
2,Algeria,Algiers,DzayerⴷⵣⴰⵢⴻⵔAl-Jazā'irالجزائر,DzayerⴷⵣⴰⵢⴻⵔAl-Jazā'irالجزائر,Berber language(Tifinagh script)Arabic(Arabic ...
3,American Samoa[1],Pago Pago,Amerika SāmoaAmerican Samoa,Pago Pago Pago Pago,SamoanEnglish
4,Andorra,Andorra la Vella,Andorra,Andorra la Vella,Catalan
...,...,...,...,...,...
237,Vietnam,Hanoi,Việt Nam,Hà Nội,Vietnamese
238,Wallis and Futuna[10],Mata Utu,Wallis-et-FutunaʻUvea mo Futuna,Mata Utu Matāʻutu,FrenchWallisianFutunan
239,Yemen,Sana'a,Al-Yamanاليمن,Ṣan‘ā’ﺻﻨﻌﺎﺀ,Arabic(Arabic script)
240,Zambia,Lusaka,Zambia,Lusaka,"English, Bemba, Chewa"
241,Zimbabwe,Harare,Zimbabwe,Harare,"English, Shona"

Let us just focus on the first two columns

In [25]:
data = main_df.iloc[:, :2]

In [27]:
data.head()

    Country (exonym)  Capital (exonym)
0        Afghanistan             Kabul
1            Albania            Tirana
2            Algeria           Algiers
3  American Samoa[1]         Pago Pago
4            Andorra  Andorra la Vella

Let us clean the column names now

In [29]:
data.columns = ['country', 'capital']

In [30]:
data

                   country           capital
0              Afghanistan             Kabul
1                  Albania            Tirana
2                  Algeria           Algiers
3        American Samoa[1]         Pago Pago
4                  Andorra  Andorra la Vella
..                     ...               ...
237                Vietnam             Hanoi
238  Wallis and Futuna[10]          Mata Utu
239                  Yemen            Sana'a
240                 Zambia            Lusaka
241               Zimbabwe            Harare

[242 rows x 2 columns]

There are rows where we have [1] type things, we need to clean it up.

In [77]:
import string

def clean_name(s: str) -> str:
    if not isinstance(s, str):
        return s
    t = ''
    for c in s:
        if (c not in string.ascii_letters) and (c not in ["'", '"', ',', ' ']):
            continue
        t += c
    return t

In [78]:
clean_name('Afghanistan')

'Afghanistan'

In [80]:
data['country'] = data['country'].apply(clean_name)
data['capital'] = data['capital'].apply(clean_name)

/home/bruhh/.local/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/home/bruhh/.local/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

Maybe that was slow. But cool we got it done. Now onto next step. Finding the continent it belongs to.

data.to_csv